:80 {
  encode gzip zstd

  request_body {
    max_size 8MiB
  }

  @gateway_host host {$HTTP_TEST_HOST}
  handle @gateway_host {
    reverse_proxy gateway:3000 {
      header_up Host {http.request.host}
      header_up X-Gateway-Proxy-Token {file./run/secrets/trust_proxy_secret}
      header_up X-Forwarded-For {http.request.remote.host}
      header_up -X-Real-Ip
    }
  }

  handle {
    respond "Yasser HTTP test Gateway is available only through the configured server IP." 421
  }
}
